/* Our CSS file. */


.container{
    width: 100%;
    height: 100%;
  }

  .content{
    width:90%;
    background-color: #f2f2f2;
    text-align: center;
    height: 300px;
    margin: 8px;
    border: 1px solid black;
   }
   
   .left,.right{
    display: inline-block;
    width:49.5%;
    padding-top: 5px;
    padding-bottom: 5px;
   
    height: 280px;
   }
   
   .left{
     vertical-align: top;
   }
   .btn{
     background-color: black;
     border: 1px solid white;
     color: white;
     vertical-align: center;
     height: 30px;
     width: 130px;
   }
   
   #render-wiki{
     width: 100%;
     height: 280px;
   }
   
   .block1{
     display: inline-block;
     width: 100%;
     height: 40%;
   }
   
   .block{
     display: inline-block;
     width: 100%;
     height: 60%;
   }
   
   #render-dictionary{
     width: 1150px;
     height: 170px;
   }
   
  
